


// Call To Action
#callToAction {
    ol {
        li:not(:last-child) {
            margin-right: 15px;
        }
        li {
            svg {
                margin-right: 5px;
            }
        }
    }
}


// =========================================================
// ====================== Responsive =======================
// =========================================================

// Call To Action
@media (max-width: 767.98px){
    #callToAction {
        .left, .inner_right {
            justify-content: center !important;
        }
    }
}