
:root {
    --primary: #109806;
    --secondary: #ffffff;
    --light: #F8F8F8;
    --dark: #252525;
}


// Call To Action
#callToAction {
    ol {
        li:not(:last-child) {
            margin-right: 15px;
        }
        li {
            svg {
                margin-right: 5px;
            }
        }
    }
}

// Navbar
.navbar {
    background: var(--primary);
    .dropdown-menu {
        background: var(--primary);
        a {
            color: var(--secondary);
        }
        a:hover {
            color: var(--dark);
        }
    }
    .dropdown-menu-end {
        right: 0;
    }
}


// =========================================================
// ====================== Responsive =======================
// =========================================================

// Call To Action
@media (max-width: 767.98px){
    #callToAction {
        .left, .inner_right {
            justify-content: center !important;
        }
    }
}